body{
background:rgb(250,150,0)
}
#calc-contain{
position:relative;
left:400px;
width:400px;
border:20px solid black;
border-radius:50px 20px;
padding:20px 20px 50px 20px;
background-color:lightyellow;
}
#jss{
margin-top:25px;
font-size:20px;
font-weight:bolder;
background-color:yellow;
color:green;
}
input[type=button]{
background-color:lightgray;
width:20%;
font-size:20px;
font-weight:900;
margin-top:10px;
margin-left:13px;
border-radius:70px;
}
input[type=button]:hover{
background-color:#003300;
color:white;
}
input[type=text]{
display:block;
width:90%;
margin:12px auto;
font-size:20px;
padding:10px;
box-shadow:4px 5px 10px black inset;
}